.logo {
    height: 10rem;
    width: 30rem;
    margin: 3rem 0 5rem 0;
  }
.Homebody{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
    height: 100vh;
}
.textbox{
    height: 12rem;
    width: 35rem;
    border-radius: 20px;
    border: 1px solid #000;
    background: #FFFF;
}
