.headerBox {
    height: 62px;
    background: #C7C7C7;
  }

  .headerFontContainer {
    display: flex;
    justify-content: center; 
  }

  .headerFont {
    color: #000;
    font-style: normal;
    font-weight: 600;
  }